<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>132317352786-l4n50s1jjtlk5vgaq77p367q8llpo2e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132317352786-l4n50s1jjtlk5vgaq77p367q8llpo2e3</string>
	<key>API_KEY</key>
	<string>AIzaSyBe5jVDQMu0P_e2b6vTyReiqDKukFWPjec</string>
	<key>GCM_SENDER_ID</key>
	<string>132317352786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SergioCuevas.MapsFirebase</string>
	<key>PROJECT_ID</key>
	<string>proyectoios-63501</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoios-63501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:132317352786:ios:240714ef8d86b1f1</string>
	<key>DATABASE_URL</key>
	<string>https://proyectoios-63501.firebaseio.com</string>
</dict>
</plist>